@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PlateForm Game</h1>
    <p class="lead">Le jeux que tu veux !</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Acheter le jeux &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apprendre à jouer</h2>
        <p>
            Mode d'emploi du jeux : apprener les controles du jeu pour devenir le DarkPgmKevin-du-69 de Platform Game.
            Controles, Niveaux, Objectif tout y passe, go lire la doc gros NOOB !
            Si tu trouve ça trop dure, t'as qu'a l'envoyer au Joueur du Grenier (ça nous fera de la pub !).
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Documentation &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Editer des blocs</h2>
        <p>
            Comme on est super gentil (et que c'etait aussi un objectif de notre projet), on vous a concocté un petit outils pour éditer des bloc.
            Les blocs seront utilisés lors de ta prochaine partie durant la génération aléatoire du niveaux.
        </p>
        <p><a class="btn btn-default" href="/Editor/index">Editor &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Boutique</h2>
        <p>
            Même si 65% de l'équipe évolut dans un esprit "Libre", le reste elle veut se faire des sous !
            Ainsi tu trouvera dans la boutique plein d'achats intégré à réaliser pour améliorer ta qualité de jeu.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Boutique &raquo;</a></p>
    </div>
</div>