
body {
	background-color: #f3f3f3;
	font-family: "Roboto";
}

.mb15 {
    margin-bottom: 15px;
}

.pb15 {
    padding-bottom: 15px;
}

.border-right {
	border-right : 4px solid #444;
}

.f20px {
	font-size: 20px;
}

.body-container {
	padding-left: 5%;
	padding-right: 5%;
}

#block-list {
	list-style-type: none;
}

#block-list li:hover {
	background: #ccc;
    transition: background 0s;
}

.content .content-container{
	background: #FFF;
	margin: 10px;
	padding: 10px;
	border-bottom: 4px solid #444;
}

.content .content-container h5 {
	border-bottom: solid #999;
}


.content .component-container li{
	margin : 5px 0;
}

.content .component-container li.selected{
	font-size: 16px;
	background: #DDD;
}

.content .component-container .comp-property{
	display: none;
}

.content .comp-property-container{
	border-left: solid #999;
	padding-left: 15px;
}

.content .comp-property-container span{
	font-weight: 600;
}
.work-space h5 .form-control{
	max-width: 250px;
	display: inline-block;
}

.block-factory{
	margin :auto;
}

.block-factory .comp{
	float: left;
	background: #999;
	margin: 5px;
}
.block-factory .comp img{
	width: 100%;
	height: 100%;
}
